body{
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgb(15, 14, 14);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
	width: 600px;
	margin: 0 auto;
	text-align: center;
}
#check{
border: 0;
  padding: 8px 20px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
/*   color: #fff; */
  font-weight: 100;
    transition: 0.5s;
    margin-top: 15px;
}
#check:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
        position:relative;
	top:3px;
}
.myButton:active {
	position:relative;
	top:1px;
}
img{
    width:80px;
    height: 80px;
}
.right{
    visibility: hidden;
}
.images{
    margin-top: 50px;
}
#wrong{
    visibility: hidden;
}
.shake{
    animation: shake 1s; 
}
@keyframes shake{
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); } 
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}